<p id="notice"><%= notice %></p>

 <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Producto: <%= @product.name %></h1>
            </div>
          </div>
        </div>
      </div>
  </section>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<%= link_to 'Editar', edit_product_path(@product), :class => "btn btn-light"  %> |
<%= link_to 'Atrás', products_path, :class => "btn btn-light"  %>
